body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  
}

nav{
  margin-bottom:3%;
}

nav ul{
  width:100%;
  
}
nav ul li{
  display:inline-block;
  padding:10px;
}
nav ul li a{
  font-size:18px;
  color:white !important;
  font-weight: 200; 
  text-shadow:black;
  
}
nav ul li:hover{
  background-color:#007bff !important;
  border-radius:20px;   
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("heroimage.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
  }
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  } 
.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}
  
.hero-text button:hover {
    background-color: #555;
    color: white;
}
.logo{
    height:300px;
}
.dropdown-menu{
  height:200px;
}
.dropdown-menu{
  transform: translate3d(5px, 35px, 0px)!important;
}
input{
  border:2px solid lightgrey;
}